@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.sideBar{
  display: flex;
  color: white;
  align-items: center;
}
.personImage{
  width: 30px;
  border-radius: 20px;
}
.titleMain{
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 10px;
}
.titleHead{
  font-size: smaller;
}
.titleImage{
  margin-left: 30px;
}
.listItem{
  border-radius: 30px;
  color: rgba(240, 248, 255, 0.384);
}
.foldersMain{
  display: flex;
  justify-content: space-between;
}

.addNewSub{
  color: rgba(240, 248, 255, 0.384)
}
.menuBar{
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
}
.toggleThemeBtn{
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.themeBtn{
  padding: 10px;
  border-radius: 20px;
}

.navMain{
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
padding-bottom: 1.5rem;
}
.navLogoSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoDiv{
  display: flex;
  align-items: center;
}
.navLogo{
  color: black;
  font-weight:bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.navContentSection{
  display: none;
}
@media (min-width: 768px) { 
  .navContentSection{
    display: block;
  }
  .toggleDiv{
    display: none;
  }
}

.navItems{
  display: flex;
  margin-left: 1rem;
}
.navList{
  color: black;
  margin-right: 13px;
}
.toggleButton{
  color: black;
}
.blockNav{
  display: block;
}
.hiddenNav{
  display: none;
}
.navMdItems{
  padding-left: 0.5rem; 
padding-right: 0.5rem; 
padding-top: 0.5rem;
padding-bottom: 0.75rem;
margin-top: 0.25rem;
}
.navMdList{
  display: block;
}
.search-container {
  display: flex;
  align-items: center;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 12px;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
}

.search-container i {
  padding: 0px;
  color: #888;
}
